:root {
  --main-font-family: Georgia, "Times New Roman", serif;
}

body {
  font-family: var(--main-font-family);
}

.link {
  font-family: 'Lato', monospace;
}

.header-icon {
  font-size: 1.5rem;
}

.section {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.paper-container {
  padding: .8rem;
}

.paper-title {
  font-size: 1.15rem;
  font-weight: 500;
}

.paper-link {
  font-size: 1rem;
}

.venue-name {
  font-size: 1rem;
  font-weight: 500;
}

.author-name, .project-desc {
  font-size: .8rem;
}

.paper-link {
  font-size: .8rem;
}