<nav class="navbar navbar-expand">
    <ul class="navbar-nav d-flex justify-content-evenly mx-auto gap-5">
        <li class="nav-item">
            <a class="link nav-link px-0" href="/#publications"
                ><i class="bi bi-book d-inline d-md-none d-lg-inline"></i>
                <span class="d-none d-md-inline">Publications</span></a
            >
        </li>
        <li class="nav-item">
            <a class="link nav-link px-0" href="/#projects"
                ><i class="bi bi-code-slash d-inline d-md-none d-lg-inline"></i>
                <span class="d-none d-md-inline">Projects</span></a
            >
        </li>
        <li class="nav-item">
            <a class="link nav-link px-0" href="/#presentations"
                ><i class="bi bi-easel d-inline d-md-none d-lg-inline"></i>
                <span class="d-none d-md-inline">Presentations</span></a
            >
        </li>
        <li class="nav-item">
            <a class="link nav-link px-0" href="/#services"
                ><i
                    class="bi bi-person-lines-fill d-inline d-md-none d-lg-inline"
                ></i>
                <span class="d-none d-md-inline">Services</span></a
            >
        </li>
        <li class="nav-item">
            <a class="link nav-link px-0" href="https://blog.yanlincs.com"
                ><i class="bi bi-newspaper d-inline d-md-none d-lg-inline"></i>
                <span class="d-none d-md-inline">Blog</span></a
            >
        </li>
    </ul>
</nav>
