{% extends 'base.html' %}

{% block title %}Yan Lin's Projects{% endblock %}

{% block header_title %}Yan Lin's Projects{% endblock %}

{% block navigation %}
  <!-- {% include 'partials/navigation.html' %} -->
{% endblock %}

{% block content %}
  <article class="section mt-4">
    <div class="list-group list-group-flush">
      {% for project in data.primaryProjects %}
        {% with type='primary' %}
          {% include 'partials/project.html' %}
        {% endwith %}
      {% endfor %}
    </div>
    <hr class="my-2" />
    <div class="list-group list-group-flush">
      {% for project in data.secondaryProjects %}
        {% with type='secondary' %}
          {% include 'partials/project.html' %}
        {% endwith %}
      {% endfor %}
    </div>
  </article>
{% endblock %} 