{% extends 'base.html' %}

{% block title %}Yan Lin's Publications{% endblock %}

{% block header_title %}Yan Lin's Publications{% endblock %}

{% block navigation %}
  <!-- {% include 'partials/navigation.html' %} -->
{% endblock %}

{% block content %}
  <article class="section mt-4">
    <div class="list-group list-group-flush">
      {% for pub in data.primaryPublications %}
        {% with type='primary' %}
          {% include 'partials/publication.html' %}
        {% endwith %}
      {% endfor %}
    </div>
    <hr class="my-2" />
    <div class="list-group list-group-flush">
      {% for pub in data.secondaryPublications %}
        {% with type='secondary' %}
          {% include 'partials/publication.html' %}
        {% endwith %}
      {% endfor %}
    </div>

    <div class="text-start mt-3">
      <small class="text-muted" style="font-size: 0.8rem;">* Equal Contribution</small>
    </div>
  </article>
{% endblock %} 